@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply overflow-x-hidden w-full;
    font-family: 'Plus Jakarta Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.01em;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .animate-tilt {
    animation: tilt 10s infinite linear;
  }
}

@keyframes tilt {

  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(0.5deg);
  }

  75% {
    transform: rotate(-0.5deg);
  }
}